*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#d8ead7;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:100%;
    max-width:430px;
    text-align:center;
    position:relative;
}

.icon-left{
    position:absolute;
    left:20px;
    top:10px;
    font-size:45px;
}

.icon-right{
    position:absolute;
    right:20px;
    top:10px;
    font-size:45px;
}

h1{
    margin-top:100px;
    color:#0f3c4c;
    font-size:52px;
    font-weight:700;
    letter-spacing:2px;
}

.card{
    background:white;
    width:85%;
    margin:50px auto;
    padding:40px 30px;
    border-radius:30px;

    box-shadow:
    0 15px 30px rgba(0,0,0,0.08);
}

.card p{
    color:#555;
    line-height:2;
    font-size:15px;
    margin-bottom:40px;
}

button{
    background:#c8e1c4;
    border:none;
    padding:15px 40px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.card a{
    display:block;
    margin-top:35px;
    text-decoration:none;
    color:#666;
    font-size:14px;
}